*{
  margin: 0%;
  padding: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #898989 ;
  }
  .logo{
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .logo img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .logo h1{
    padding-left: 12px;
    color:#2471A3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  .search-box input{
  min-height: 36px;
  max-width: 250px;
  padding: 0 1rem;
  color: #363636;
  font-size: 15px;
  border: 2px solid rgb(0, 187, 187);  
  border-radius: 6px 0 0 6px;
  background-color: transparent;
  }

  .search-box button{
    min-height: 40px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color:rgb(0, 187, 187);  
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .search-box input:focus, .search-box input:focus-visible {
    border-color: rgba(137, 43, 226, 0.527);
    outline: none;
  }
  .search-box button:hover{
    background-color: rgba(137, 43, 226, 0.527);;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin-right: 8%;
  }
  
  .menu li {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color:#2471A3;
    border-bottom: 2px solid #fff;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding: 10px;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: all 0.5s ease;
  }
  .menu li a:hover {
    border-bottom: 2px solid #00d4f0;
    padding-bottom: 5px;
  }
  .menu .a {
    border-bottom: 2px solid rgb(0, 187, 187);
  }