*{
  margin: 0%;
  padding: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #000 ;
  }
  .logo{
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .logo img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .logo h1{
    padding-left: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  .search-box input{
  min-height: 36px;
  max-width: 250px;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 2px solid rgb(0, 187, 187);  
  border-radius: 6px 0 0 6px;
  background-color: transparent;
  }

  .search-box button{
    min-height: 40px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color:rgb(0, 187, 187);  
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .search-box input:focus, .search-box input:focus-visible {
    border-color: rgba(137, 43, 226, 0.527);
    outline: none;
  }
  .search-box button:hover{
    background-color: rgba(137, 43, 226, 0.527);;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin-right: 8%;
  }
  
  .menu li {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    color: rgb(0, 187, 187); 
    text-decoration: none;
    padding: 10px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu li {
    margin: 0;
  }
  
  .dropdown-menu li a {
    color: #333;
    padding: 8px;
    display: block;
  }
  
  .fa-caret-down {
    margin-left: 5px;
  }
  
  .container2{
  background-color: rgba(137, 43, 226, 0.527);
  height: 100%;
  width: 20%;
  
  }
  
  
  .title1{
  margin: auto;
  height:  60%;
  width: 90%;
  background-color: rgb(0, 187, 187);   
 align-items: center;
  }
  
.title2{
margin-top: 10%;
padding-top:1% ;
margin-left: 40%;
font-size: 1em;
font-style: italic;
font-variant: small-caps;
color: brown;
font-family: 'Times New Roman', Times, serif;
border-width: 20;


}
  
  #icons {
    margin-left: 30%;
  height: 30%;
  width: 30%;
  padding-bottom: 1%;
  }
  
  
.container22{
position:absolute;
margin-top: -200%;
margin-left: 25%;
background-color: rgba(0, 0, 0, 0.945);
height: 50%;
width: 30%;

}
  